* {
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: auto;
}

form label {
    display: flex;
    flex-direction: column;
}

